table {
  width: 100%;
}

.spinner {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

em.edit {
  color: #f2f2f2;
  transition: filter 0.2s;
}

em.edit:hover {
  filter: brightness(0.8);
}

em.delete {
  color: #e35e6b;
  margin-left: 10px;
  transition: filter 0.2s;
}

em.delete:hover {
  filter: brightness(0.8);
}

.btn-delete {
  border: 0;
  background: 0;
  font-size: 0;
}